body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

#top-bar {
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    
    color: #f9faf8;
    padding: 1em;
}

#dogman {
    flex: 0 1 0;
    height:100%;
    align-self: flex-start;

}

.attract {
    display: flex;
    height: 300px;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10%;

}



.attract p {
    /* word-wrap: break-word; */
    /* word-break: break-all; */
    /* flex: 0 1 0; */
    width: 1;
}

.attract-text > h1 {
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
}

.attract-text > p {
    color: #e5e7eb;
    font-size: 18px;
}

.attract-text > button {
    background-color: #3882f6;
    border-radius: 12px;
    border-style: none;
    padding: 5px 10px;
    color: #e5e7eb;
    font-size: 36px;
}

.reader1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    padding-bottom: 100px;
}

.info-boxes {
    display: flex;
    gap:30px;
    padding: 30px;
    
}

.info-set {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    gap:10px;
    
}

.info-set > .img {
    /* width: 300px;
    height: 300px; */
    width: 100%;
    aspect-ratio: 1/1;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
    flex: 1 1 0;
    
}

.info-set > p {
    text-align: center;
}

.quote-section {
    padding: 10% 5%;
    background-color: #e5e7eb;
}

.quote.quote-attr {
    font-weight: bold;
    font-size: medium;
    text-align: end;
    color:black
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

/* CALAL TO ACTION */
.action-container {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.action {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    padding: 3% 80px;
    margin: 10%;
    gap: 80px;
    align-items: center;
}
.action > .action-text > .mini-header {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 600;
    margin: 0;
}
.action > .action-text > .mini-text {
    font-size: 14px;
    color: #f9faf8;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#action-button {
    width: 80px;
    height: 30px;
}

/* FOOTER */
footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    margin: 0;
    padding: 10px;
    font-size: x-small;
}

ul {
    list-style-type: none
}

li.logo {
    margin-right: auto;
}

li a{
    margin: 0.5em;
    text-decoration: none;
    color: #e5e7eb
}